extends snap_see_template.jade

block content
    h4.ui.header SNAP-SEE Simulator
    .ui.grid
        .twelve.wide.column
            #map(height="400")
        .four.wide.column
            h4.ui.header Please select the study area
            .ui.fluid.dropdown.selection
                input(type="hidden" id="study_area" name="study_area")
                .default.text please select one
                i.dropdown.icon
                .menu
                    each val, index in databases
                        .item(data-value=val) #{index} 
            h4.ui.header What do you want to build?
            .ui.fluid.dropdown.selection
                input(type="hidden" id="buildings" name="buildings")
                .default.text please select one
                i.dropdown.icon
                .menu
                    each item in buildings
                        .item(data-value=item.id) #{item.name} 
            h4.ui.header Where do you want to build it?
            .ui.fluid.input
                input#locality(type="text" placeholder="Type an address, a city ...")
            .ui.hidden.divider
            button.ui.primary.button#calculate Calculate
    .ui.divider
    .ui.grid
        #results.sixteen.wide.column
    .ui.grid
        .sixteen.wide.column
            a(href="/").ui.left.labeled.icon.button
                i.left.arrow.icon
                |Home

        
block js_header
    link(rel="stylesheet" href="/vendors/leaflet/dist/leaflet.css")
    link(rel="stylesheet" href="/css/simulator.css")
    script(src="/vendors/leaflet/dist/leaflet.js")
    script(src="/js/plugins.js")
        
block js_footer
    script(src="/js/simulator.js")
    
