doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en-gb', lang='en-gb', dir='ltr')
    head
        title #{title}
        link(href='http://snapsee.eu/index.php?option=com_search&format=opensearch', rel='search', title='Search SNAPSEE.eu - Planning aggregates supply', type='application/opensearchdescription+xml')
        link(href='http://snapsee.eu/templates/snap-see/favicon.ico', rel='shortcut icon', type='image/vnd.microsoft.icon')
        link(rel='stylesheet', href='/templates/css/snap_template.css', type='text/css')
        link(rel='stylesheet', href='/vendors/semantic-ui/dist/semantic.min.css', type='text/css')
        //script(src='/templates/js/snap_template.js', type='text/javascript')
        script(src='/vendors/jquery/jquery.min.js', type='text/javascript')
        script(src='/vendors/semantic-ui/dist/semantic.min.js', type='text/javascript')
        link(rel='apple-touch-icon', href='http://snapsee.eu/templates/snap-see/apple_touch_icon.png')
        meta(http-equiv='X-UA-Compatible', value='IE=9')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='keywords', content='Snapsee')
        meta(name='author', content='Administrator')
        meta(name='description', content='Snapsee')
        block js_header
          
    body#page.yoopage
          .wrapper
            #header
              #toolbar
                #date
                  | #{date}
                .left
                  .module.mod-blank.first.last
                    ul.menu
                      li.item-321
                        a(href='http://snapsee.eu/index.php?option=com_users&view=login&Itemid=321') LOG IN
              #headerbar
                .left
                  .module.mod-blank.first.last
                    .custom
                      img(src='http://snapsee.eu/images/stories/HEADER/snapsee_logo.png', width='1000', height='93', alt='snapsee logo')
              #menubar
                .menubar-2
                  .menubar-3
              #menu
                ul.menu.menu-dropdown
                  li.level1.item1.first.active.current
                    a.level1.item1.first.active.current(href='http://snapsee.eu/index.php?option=com_content&view=article&id=576&Itemid=433')
                      span.bg(style='padding-top: 3px; height: 47px; overflow: hidden;') HOME
                  li.level1.item2
                    a.level1.item2(href='http://snapsee.eu/index.php?option=com_content&view=article&id=708&Itemid=303')
                      span.bg(style='padding-top: 3px; height: 47px; overflow: hidden;') CONFERENCE
                  li.level1.item3.parent
                    a.level1.item3.parent(href='http://snapsee.eu/index.php?option=com_content&view=article&id=577&Itemid=76')
                      span.bg(style='padding-top: 3px; height: 47px; overflow: hidden;') ABOUT
                  li.separator.level1.item4.parent
                    span.separator.level1.item4.parent
                      span.bg(style='padding-top: 3px; height: 47px; overflow: hidden;') NEWS 
                  li.level1.item5
                    a.level1.item5(href='http://snapsee.eu/index.php?option=com_content&view=article&id=593&Itemid=319')
                      span.bg(style='padding-top: 3px; height: 47px; overflow: hidden;') CONS.
                  li.level1.item6
                    a.level1.item6(href='http://snapsee.eu/index.php?option=com_jevents&view=month&layout=calendar&Itemid=441')
                      span.bg(style='padding-top: 3px; height: 47px;') EVENTS
                  li.level1.item7.last.parent
                    a.level1.item7.last.parent(href='http://snapsee.eu/index.php?option=com_content&view=article&id=689&Itemid=507')
                      span.bg(style='padding-top: 3px; height: 47px;') NATIONAL
              #search
                #searchbox
                  form(action='http://snapsee.eu/index.php', method='get', role='search')
                    button.magnifier(type='submit', value='Search')
                    input(type='text', value='', name='searchword', placeholder='search...', autocomplete='off')
                    ul.results(style='display: none;')
                    button.reset(type='reset', value='Reset')
                    input(type='hidden', name='task', value='search')
                    input(type='hidden', name='option', value='com_search')
            .wrapper-body
              .wrapper-t1
                .wrapper-t2
                  .wrapper-t3
              .wrapper-1
                .wrapper-2
                  .wrapper-3
                    .wrapper-inner-1
                      .wrapper-inner-2
                        .content
                          block content
                    .wrapper-inner-1
                      .wrapper-inner-2
                        #bottom
                          .bottomblock.width100.float-left
                            .module.mod-rounded.first.last
                              .box-t1
                                .box-t2
                                  .box-t3
                              .box-1
                                .box-2
                                  .box-3.deepest
                                    .custom
                                      table(style='height: 40px; width: 950px;', border='0')
                                        tbody
                                          tr
                                            td(style='width: 50%;')
                                              img(style='display: block; margin-left: auto; margin-right: auto;', src='http://snapsee.eu/images/stories/HEADER/Slogan.png', alt='Slogan', width='600', height='41')
                                            td(style='width: 50%;')
                                              img(style='float: right;', src='http://snapsee.eu/images/stories/HEADER/symbol_transparent.png', alt='symbol transparent', width='100', height='97')
                              .box-b1
                                .box-b2
                                  .box-b3
                    .wrapper-inner-b1-last
                      .wrapper-inner-b2
                        .wrapper-inner-b3
                    #footer
                      a.anchor(href='#page')
              .wrapper-b1
                .wrapper-b2
                  .wrapper-b3
        .wrapper
    block js_footer
