extends ../snap_see_template.jade

block js_header
    script(src="/vendors/jquery/dist/jquery.min.js")


block content
    h4.ui.header Quanti aggregati servono?
    .ui.grid
        .eight.wide.column
            h2.ui.header Ogni anno, per ogni abitante, si stima siano necessarie oltre 4 tonnellate di sabbia e ghiaia
            p Sembrano tantissime! E certamente non sono facili da reperire, trasportare ma sono essenziali per la vita di ciascuno di noi.
            p Come è possibile quindi reperirle in modo ottimale?
        #contenitore_grafico.eight.wide.column
            canvas#myChart(width="100%" height="400")
                div Legenda:
                div#legenda
    .ui.divider
    .ui.grid
        .sixteen.wide.column
            a(href="/sostenibili").ui.right.labeled.right.floated.icon.primary.button
                i.right.arrow.icon
                |Avanti
            a(href="/presentazione").ui.left.labeled.icon.button
                i.left.arrow.icon
                |Precedente
    p


block js_footer
    script(src="/vendors/chartjs/Chart.min.js")
    script.
        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }
        
        (function() {
        
        
            
        
            var canvas = document.getElementById('myChart'),
            context = canvas.getContext('2d');

            // resize the canvas to fill browser window dynamically
            window.addEventListener('resize', resizeCanvas, false);

            function resizeCanvas() {
                canvas.width = $('#contenitore_grafico').width();
                drawStuff();
            }
            resizeCanvas();
            function drawStuff() {

                var ctx = $("#myChart").get(0).getContext("2d");

                var data = {
                    labels: ["Bologna", "Modena", "Reggio Emilia", "Parma", "Forlì-Cesena", "Ravenna", "Ferrara", "Rimini", "Piacenza"],
                    datasets: [
                    {
                        label: "abitanti",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [1001170, 700918, 534258, 443176, 396636, 392358, 355101, 334254, 288483]
                    },
                    {
                        label: "t/anno di aggregati",
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,0.8)",
                        highlightFill: "rgba(151,187,205,0.75)",
                        highlightStroke: "rgba(151,187,205,1)",
                        data: [1001170*4, 700918*4, 534258*4, 443176*4, 396636*4, 392358*4, 355101*4, 334254*4, 288483*4]
                    }
                    ]
                };

                var myBarChart = new Chart(ctx).Bar(data, {
                    showTooltips: true,
                    animation: true,
                    multiTooltipTemplate: "<%= addCommas(value) %> <%= datasetLabel %>"
                });

                $("#legenda").html(myBarChart.generateLegend());
            }
        })();
