extends ../snap_see_template.jade

block content
    h4.ui.header SNAP-SEE Tools

    h2.ui.header A simulator of aggregates demand and offer
    .ui.divider
    .ui.grid
        .eight.wide.column
            p The simulator is focused on presenting how much aggregates are required in our countries/regions and where are they produced. The simulator estimates the amount of aggregates required for a given infrastructure and provide details on transportation costs and tha mount of recycled aggregates that can be used to substitute part of natural aggregates.

        .eight.wide.column
            p The software has been developed by Emilia-Romagna Region and is distributed with a MIT license: in this website it is presented with some example data from Emilia-Romagna (Italy).
        .eight.wide.column
            center
                a(href="/simulator").ui.right.labeled.icon.primary.button
                    i.right.arrow.icon
                    |Go to the simulator  (in English)
        .eight.wide.column
            center
                a(href="/intro").ui.right.labeled.icon.button
                    i.right.arrow.icon
                    |Introduction (in Italian)



        
