extends ../snap_see_template.jade

block content
    h4.ui.header Costruzioni sostenibili

    h2.ui.header Quanto può costare a noi e all'ambiente una gestione non sostenibile degli aggregati da costruzione?
    p Scopri cosa stiamo realizzando da oltre vent'anni e cosa puoi fare tu per aiutarci.
    .ui.divider
    .ui.grid
        .sixteen.wide.column
            a(href="/presentazione").ui.right.labeled.right.floated.icon.primary.button
                i.right.arrow.icon
                |Avanti
            a(href="/simulator").ui.left.labeled.icon.button
                i.left.arrow.icon
                |Home

        
