extends ../snap_see_template.jade

block content
    h4.ui.header Da oltre vent'anni la Regione Emilia-Romagna <strong>pianifica</strong> in maniera sostenibile l'estrazione di aggregati da costruzione.
    .ui.grid
        .eight.wide.column
            p Gli aggregati da costruzione sono principalmente sabbia e ghiaia e vengono usati per molteplici scopi, dalla produzione di cemento necessaria per realizzare la vostra abitazione alla costruzione della strada per poterla raggiungere.
            p
                strong Ma cosa significa pianificare?
            p La Regione, attraverso specifici piani provinciali cerca di prevedere quali saranno le necessità di inerti per ciascuna area sulla base dell'andamento demografico, le infrastrutture programmate ed elabora un piano che consenta di recuperare tali risorse garantendo:
            ul 
                li Un uso ottimale del suolo
                li Una collocazione sul territorio che riduca al minimo i costi e gli impatti del trasporto
                li Un uso razionale dei siti estrattivi esistenti
                li Un recupero ottimale dell'area al termine dell'estrazione
                li La conservazione di risorse non rinnovabili di pregio per le generazioni future.
            p La nostra esperienza è stata portata come esempio in due progetti europei: <a href="http://sarmaproject.eu">SARMa</a> e <a href="http://snapsee.eu">SNAP</a>
        .eight.wide.column
            img(src="../img/planning.jpg" alt="Pianificazione")
    .ui.divider
    .ui.grid
        .sixteen.wide.column
            a(href="/aggregati").ui.right.labeled.right.floated.icon.primary.button
                i.right.arrow.icon
                |Avanti
            a(href="/intro").ui.left.labeled.icon.button
                i.left.arrow.icon
                |Precedente

        
