extends ../snap_see_template.jade

block content
    h4.ui.header Aggregati sostenibili?
    .ui.grid
        .eight.wide.column
            h2.ui.header Ciascuno di noi può contribuire
            p Acquistando inerti provenienti da impianti di produzione vicini al luogo dove verranno utilizzati.
            p Utilizzando, dove opportuno, aggregati riciclati
            h2.ui.header Quanto possiamo contribuire?
            p Per consentirvi di capire quanto possa incidere la vostra scelta abbiamo preparato un simulatore.
            p Il programma vi consentirà di capire quanto potete risparmiare e quanto può beneficiare l'ambiente da scelte oculate.
        .eight.wide.column
            img(src="../img/riciclati.jpg" alt="Aggregati riciclati" width="100%")
            small(class="copyright") Aggregati riciclati. foto: 
                a(href="https://www.flickr.com/photos/cdeimages/4865299925/") Peter Craven
                | (
                a(href="https://creativecommons.org/licenses/by/2.0/") alcuni diritti riservati
                | )
    .ui.divider
    .ui.grid
        .sixteen.wide.column
            a(href="/simulator").ui.right.labeled.right.floated.icon.primary.button
                i.right.arrow.icon
                |Avanti
            a(href="/aggregati").ui.left.labeled.icon.button
                i.left.arrow.icon
                |Precedente

        
