body,
div,
ul,
li,
form,
input,
td {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

a:focus {
  outline: none;
}

body {
  overflow-y: scroll;
}

ul {
  margin: 10px 0;
  padding-left: 30px;
}

td {
  padding: 1px;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type='hidden'] {
  display: none;
}

input[type='text'] {
  padding: 1px 0 1px 5px;
}

button {
  padding: 2px 4px 2px 1px;
  line-height: 100%;
}

button {
  cursor: pointer;
}

input[type='text'] {
  border: 1px solid #c8c8c8;
  background: #ffffff;
}

input[type='text']:hover {
  border-color: #aaaaaa;
}

input[type='text']:focus {
  border-color: #8c8c8c;
  outline: 2px solid #dcdcdc;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 150%;
  color: #646464;
}

.wrapper {
  margin: auto;
}

#header {
  position: relative;
  z-index: 10;
  height: 175px;
  clear: both;
}

#bottom {
  overflow: hidden;
  clear: both;
}

#footer {
  position: relative;
  margin: 0px 0px 0px 0px;
  padding-top: 10px;
  clear: both;
  text-align: center;
  color: #646464;
  text-shadow: 0px 1px 1px #FFFFFF;
}

.float-left {
  float: left;
  overflow: hidden;
}

.width100 {
  width: 100%;
}

//body.yoopage {
  background: #D4DEE3 url("http://snapsee.eu/templates/snap-see/images/page_bg.png") 50% 0 repeat-x;
}

body.yoopage {
  background: #aaa676 url("http://snapsee.eu/templates/snap-see/images/page_bg.png") 50% 0 repeat-x;
}

#toolbar {
  height: 25px;
  padding: 0px 30px 0px 30px;
  overflow: hidden;
  line-height: 25px;
  //font-size: 9px;
  font-size: 12px;
  //color: #D4DEE3;
  color: #FFFFFF;
  //text-shadow: 0px 0px 1px #323232;
  //text-shadow: 0px 0px 1px #000000;
}

#date {
  float: left;
}

#date + .left .module:first-child {
  height: 25px;
  margin-left: 10px;
  padding-left: 17px;
  background: url("http://snapsee.eu/templates/snap-see/images/topmenu_item_bg.png") 0 50% no-repeat;
}

#headerbar {
  height: 93px!important;
  h//eight: 84px!important;
  h//eight: 84px;
  p//adding: 10px 30px 10px 325px;
  overflow: hidden;
  color: #ffffff;
  m//argin-top: -50px;
}

#menu {
  position: absolute;
  top: 129px;
  left: 35px;
  z-index: 11;
}

#menubar {
  position: absolute;
  top: 129px;
  left: 25px;
  right: 25px;
  background: url("http://snapsee.eu/templates/snap-see/images/menubar.png") 0 0 no-repeat;
}

#menubar div.menubar-2 {
  padding: 0px 15px 0px 15px;
  background: url("http://snapsee.eu/templates/snap-see/images/menubar.png") 100% -56px no-repeat;
}

#menubar div.menubar-3 {
  height: 51px;
  background: url("http://snapsee.eu/templates/snap-see/images/menubar.png") 0 -112px repeat-x;
}

#search {
  position: absolute;
  top: 141px;
  right: 28px;
  z-index: 12;
  width: 123px;
  height: 26px;
  padding: 5px 0px 0px 7px;
  background: url("http://snapsee.eu/templates/snap-see/images/search_bg.png") 0 0 no-repeat;
}

#footer a:link,
#footer a:visited {
  color: #646464;
}

#footer a:hover {
  color: #141414;
}

#footer a.anchor {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: url("http://snapsee.eu/templates/snap-see/images/footer_anchor.png") 0 0 no-repeat;
  display: block;
  text-decoration: none;
}

#footer a.anchor:hover {
  background-position: 0 -25px;
}

div.wrapper-body {
  padding: 0px 0px 30px 0px;
}

div.wrapper-t1 {
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_corners.png") 0 0 no-repeat;
}

div.wrapper-t2 {
  padding: 0px 25px 0px 25px;
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_corners.png") 100% -30px no-repeat;
}

div.wrapper-t3 {
  height: 25px;
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_corners.png") 0 -60px repeat-x;
}

div.wrapper-1 {
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_edges_outer.png") 0 0 repeat-y;
}

div.wrapper-2 {
  padding: 0px 10px 0px 10px;
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_edges_outer.png") 100% 0 repeat-y;
}

div.wrapper-3 {
  background: #CBCDCF;
}

div.wrapper-b1 {
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_corners.png") 0 -90px no-repeat;
}

div.wrapper-b2 {
  padding: 0px 25px 0px 25px;
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_corners.png") 100% -120px no-repeat;
}

div.wrapper-b3 {
  height: 25px;
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_corners.png") 0 -150px repeat-x;
}

div.wrapper-inner-1 {
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_edges_inner.png") 0 0 repeat-y;
}

div.wrapper-inner-2 {
  padding: 0px 15px 0px 15px;
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_edges_inner.png") 100% 0 repeat-y;
}

div.wrapper-inner-b2 {
  padding: 0px 15px 0px 15px;
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_separator_r.png") 100% 0 no-repeat;
}

div.wrapper-inner-b3 {
  height: 21px;
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_separator_m.png") 0 0 repeat-x;
}

div.wrapper-inner-b1-last {
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_corners.png") 0 -180px no-repeat;
}

div.wrapper-inner-b1-last div.wrapper-inner-b2 {
  padding: 0px 15px 0px 15px;
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_corners.png") 100% -200px no-repeat;
}

div.wrapper-inner-b1-last div.wrapper-inner-b3 {
  height: 15px;
  background: url("http://snapsee.eu/templates/snap-see/images/wrapper_corners.png") 0 -220px repeat-x;
}

#bottom {
  background: #ffffff;
}

a:link,
a:visited {
  color: #aaa676;
}

a:hover {
  color: #aaa676;
}

#toolbar ul.menu {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#toolbar .menu li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

#toolbar .menu li a {
  display: inline-block;
  padding: 0px 10px 0px 15px;
  background: url("http://snapsee.eu/templates/snap-see/images/topmenu_item_bg.png") 0 50% no-repeat;
  overflow: hidden;
}

#toolbar .menu a:link,
#toolbar .menu a:visited {
  color: #FFFFFF;
  font-weight: bold;
}

#toolbar .menu a:hover {
  color: #ffffff;
  font-weight: bold;
}


#menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#menu li {
  position: relative;
  z-index: 5;
  margin: 0px;
  padding: 0px;
}

#menu a,
#menu span {
  display: block;
}

#menu a {
  text-decoration: none;
}

#menu ul.menu {
  float: left;
}

#menu li.level1 {
  height: 53px;
  float: left;
}

#menu a.level1,
#menu span.level1 {
  float: left;
}

#menu a.level1 span.bg,
#menu span.level1 span.bg {
  height: 47px;
  padding: 3px 20px 0px 18px;
  background: url("http://snapsee.eu/templates/snap-see/images/menu_level1_item.png") 100% 0 no-repeat;
  float: left;
  line-height: 47px;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0px 0px 2px #646464;
}

#menu li:hover .level1 span.bg {
  text-shadow: 0px 1px 2px #404040;
}

#menu li.active .level1 span.bg {
  color: #3D4C60;
  text-shadow: 0px 0px 2px #f0f0f0;
}

#menu .dropdown {
  position: absolute;
  top: 53px;
  left: -999em;
  z-index: 100;
}

#menu li:hover .dropdown {
  left: -8px;
}

#menu .dropdown-t1 {
  background: url("http://snapsee.eu/templates/snap-see/images/menu_dropdown_corners.png") 0 0 no-repeat;
}

#menu .dropdown-t2 {
  padding: 0px 12px 0px 60px;
  background: url("http://snapsee.eu/templates/snap-see/images/menu_dropdown_corners.png") 100% -23px no-repeat;
}

#menu .dropdown-t3 {
  height: 18px;
  background: url("http://snapsee.eu/templates/snap-see/images/menu_dropdown_corners.png") 0 -46px repeat-x;
}

#menu .dropdown-1 {
  background: url("http://snapsee.eu/templates/snap-see/images/menu_dropdown_edges.png") 0 0 repeat-y;
}

#menu .dropdown-2 {
  padding: 0px 12px 0px 12px;
  background: url("http://snapsee.eu/templates/snap-see/images/menu_dropdown_edges.png") 100% 0 repeat-y;
}

#menu .dropdown-3 {
  padding: 0px 0px 0px 0px;
  background: #F5F5F5;
  overflow: hidden;
}

#menu .dropdown-b1 {
  background: url("http://snapsee.eu/templates/snap-see/images/menu_dropdown_corners.png") 0 -69px no-repeat;
}

#menu .dropdown-b2 {
  padding: 0px 12px 0px 12px;
  background: url("http://snapsee.eu/templates/snap-see/images/menu_dropdown_corners.png") 100% -86px no-repeat;
}

#menu .dropdown-b3 {
  height: 12px;
  background: url("http://snapsee.eu/templates/snap-see/images/menu_dropdown_corners.png") 0 -103px repeat-x;
}

#menu li.level2 {
  margin-bottom: 5px;
}

#menu li.level1 li.last {
  margin-bottom: 0px;
}

#menu .hover-box1 {
  overflow: hidden;
}

#menu .hover-box1 {
  background: #FFFFFF url("http://snapsee.eu/templates/snap-see/images/menu_level2_item_corners1.png") 0 0 no-repeat;
}

#menu .hover-box2 {
  background: url("http://snapsee.eu/templates/snap-see/images/menu_level2_item_corners1.png") 100% 100% no-repeat;
}

#menu .hover-box3 {
  background: url("http://snapsee.eu/templates/snap-see/images/menu_level2_item_corners2.png") 100% 0 no-repeat;
}

#menu .hover-box4 {
  background: url("http://snapsee.eu/templates/snap-see/images/menu_level2_item_corners2.png") 0 100% no-repeat;
}

#menu .hover-box1:hover,
#menu .hover-box1:hover .hover-box2 {
  background-image: url("http://snapsee.eu/templates/snap-see/images/menu_level2_item_corners1_hover.png");
}

#menu .hover-box1:hover .hover-box3,
#menu .hover-box1:hover .hover-box4 {
  background-image: url("http://snapsee.eu/templates/snap-see/images/menu_level2_item_corners2_hover.png");
}

#menu li.separator .hover-box1:hover,
#menu li.separator .hover-box1:hover .hover-box2 {
  background-image: url("http://snapsee.eu/templates/snap-see/images/menu_level2_item_corners1.png");
}

#menu li.separator .hover-box1:hover .hover-box3,
#menu li.separator .hover-box1:hover .hover-box4 {
  background-image: url("http://snapsee.eu/templates/snap-see/images/menu_level2_item_corners2.png");
}

#menu a.level2 span.bg,
#menu span.level2 span.bg {
  min-height: 45px;
  line-height: 45px;
  text-indent: 10px;
  color: #505050;
  font-size: 15px;
  text-shadow: 0px 1px 2px #c8c8c8;
}

#menu .hover-box1:hover a.level2 span.bg {
  text-shadow: 0px -1px 0px #ffffff;
}

#menu .sub {
  padding: 5px 0px 5px 0px;
}

#menu ul.level3 {
  padding-left: 12px;
}

#menu a.level3:hover {
  text-decoration: underline;
}

#menu a.level3 span.bg {
  padding-left: 15px;
  background: url("http://snapsee.eu/templates/snap-see/images/menu_level3_item.png") 0 6px no-repeat;
  line-height: 17px;
  font-size: 11px;
}

#menu a.level3:hover span.bg {
  background-position: 0 -12px;
}

#menu .columns3 ul.level2 {
  float: left;
}

#menu .columns3 ul.level2 {
  width: 34%;
}

#menu .columns3 ul.first,
#menu .columns3 ul.last {
  width: 33%;
}

#menu .columns3 li.level2 .group-box1 {
  margin-right: 5px;
}

#menu .columns3 ul.last li.level2 .group-box1 {
  margin-right: 0px;
}


#bottom .bottomblock .module {
  margin: 10px 0px 0px 0px;
}


#toolbar .left .module,
#headerbar .left .module {
  margin-right: 15px;
  float: left;
}

div.module {
  position: relative;
}


div.mod-blank {
  overflow: hidden;
}


div.mod-rounded div.box-t1 {
  background: url("http://snapsee.eu/templates/snap-see/images/module_rounded_white_corners.png") 0 0 no-repeat;
}

div.mod-rounded div.box-t2 {
  padding: 0px 10px 0px 10px;
  background: url("http://snapsee.eu/templates/snap-see/images/module_rounded_white_corners.png") 100% -15px no-repeat;
}

div.mod-rounded div.box-t3 {
  height: 10px;
  background: url("http://snapsee.eu/templates/snap-see/images/module_rounded_white_corners.png") 0 -30px repeat-x;
}

div.mod-rounded div.box-1 {
  background: url("http://snapsee.eu/templates/snap-see/images/module_rounded_white_edges.png") 0 0 repeat-y;
}

div.mod-rounded div.box-2 {
  padding: 0px 10px 0px 10px;
  background: url("http://snapsee.eu/templates/snap-see/images/module_rounded_white_edges.png") 100% 0 repeat-y;
}

div.mod-rounded div.box-3 {
  background: #F5F5F5;
  overflow: hidden;
}

div.mod-rounded div.box-b1 {
  background: url("http://snapsee.eu/templates/snap-see/images/module_rounded_white_corners.png") 0 -45px no-repeat;
}

div.mod-rounded div.box-b2 {
  padding: 0px 10px 0px 10px;
  background: url("http://snapsee.eu/templates/snap-see/images/module_rounded_white_corners.png") 100% -60px no-repeat;
}

div.mod-rounded div.box-b3 {
  height: 10px;
  background: url("http://snapsee.eu/templates/snap-see/images/module_rounded_white_corners.png") 0 -75px repeat-x;
}

#searchbox {
  position: relative;
  width: 120px;
  height: 22px;
  padding: 0;
  margin: 0;
  background: url("http://snapsee.eu/templates/snap-see/images/searchbox.png") 0 0 no-repeat;
}

#searchbox:hover {
  background-position: 0 -32px;
}

#searchbox input {
  width: 76px;
  height: 22px;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  float: left;
  color: #969696;
  font-size: 11px;
}

#searchbox:hover input,
#searchbox input:focus {
  color: #323232;
}

#searchbox input:focus {
  outline: none;
}

#searchbox button {
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  float: left;
  cursor: pointer;
  line-height: 0;
}

#searchbox button.magnifier {
  background: url("http://snapsee.eu/templates/snap-see/images/searchbox_magnifier.png") 50% 50% no-repeat;
}

#searchbox button.reset {
  display: none;
  background: url("http://snapsee.eu/templates/snap-see/warp/images/searchbox_reset.png") 50% 50% no-repeat;
}

#searchbox .results {
  position: absolute;
  top: 31px;
  right: 0;
  z-index: 10;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #c8c8c8;
  background: #ffffff;
}

#searchbox {
  width: 120px;
  height: 20px;
  background: url("http://snapsee.eu/templates/snap-see/images/searchbox_bg.png") 0 0 no-repeat;
}

#searchbox:hover {
  background-position: 0 -20px;
}

#searchbox input {
  margin-top: 1px;
  padding-top: 3px;
  width: 84px;
  height: 15px;
  line-height: 15px;
}

#searchbox:hover input,
#searchbox input:focus {
  color: #676869;
}

#searchbox button {
  margin-top: 1px;
  width: 18px;
  height: 18px;
}

#searchbox button.magnifier {
  background-image: url("http://snapsee.eu/templates/snap-see/images/search_magnifier_icon.png");
}

#searchbox .results {
  right: -5px;
  top: 34px;
  border-color: #BDC8CE;
  background: #ECEFF0;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

body {
  min-width: 1020px;
}

.wrapper {
  width: 1020px;
}

#menu .dropdown {
  width: 250px;
}

#menu .columns3 {
  width: 750px;
}

div.content {
    background-color: white;
    position: relative;
}
